<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#1890ff" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="keywords"
      content="antd,umi,umijs,ant design,Scaffolding, layout, Ant Design, project, Pro, admin, console, homepage, out-of-the-box, middle and back office, solution, component library"
    />
    <meta
      name="description"
      content="
    An out-of-box UI solution for enterprise applications as a React boilerplate."
    />
    <meta
      name="description"
      content="
      Out-of-the-box mid-stage front-end/design solution."
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>Ant Design Pro</title>
    <link rel="icon" href="<%= context.config.publicPath +'favicon.ico'%>" type="image/x-icon" />
  </head>
  <body>
    <noscript>
      <div class="noscript-container">
        Hi there! Please
        <div class="noscript-enableJS">
          <a href="https://www.enablejavascript.io/en" target="_blank" rel="noopener noreferrer">
            <b>enable Javascript</b>
          </a>
        </div>
        in your browser to use Ant Design, Out-of-the-box mid-stage front/design solution!
      </div>
    </noscript>
    <div id="root">
      <style>
        @import url(https://fonts.googleapis.com/css?family=Quicksand:400,300,700);

.container {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #05b0b3;
}
.container.right {
  right: 0;
  left:auto;
  background-color: #eee;
}
.spring {
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: visible;
}
.logo{
    width: 100px;
    margin-top: 16px;    
  margin-left: -50px;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  text-align: center;
  color: #05b0b3;
}
.logo svg{
  max-width: 56px;
}
.bubble {
  background: rgba(255, 255, 255, .4);
  width: 24px;
  height: 24px;
  position: absolute;
  display: block;
  left: 0;
  margin-left:-12px;
  bottom: 0;
  opacity: 0;
  border-radius: 50%;
  animation: bubbleUp 1s infinite ease-in-out;
  -webkit-animation: bubbleUp 1s infinite ease-in-out;
  -o-animation: bubbleUp 1s infinite ease-in-out;
  -moz-animation: bubbleUp 1s infinite ease-in-out;
}
.container.right .bubble {
  background: rgba(5, 176, 179,.6);
}

.bubble1 {
  left: 0px;
  top: 0px;
  -webkit-animation-delay: 0;
  /* Chrome, Safari, Opera */
  
  animation-delay: 0;
}

.bubble2 {
    width: 12px;
  height: 12px;
  left: 0px;
  -webkit-animation-delay: 300ms;
  /* Chrome, Safari, Opera */
  
  animation-delay: 300ms;
}

.bubble3 {
  left: -10px;
  top: -10px;
  -webkit-animation-delay: 600ms;
  /* Chrome, Safari, Opera */
  
  animation-delay: 600ms;
}

.bubble4 {
  width: 28px;
  height: 28px;
  left: 5px;
  -webkit-animation-delay: 900ms;
  /* Chrome, Safari, Opera */
  
  animation-delay: 900ms;
  -webkit-animation-duration: 1.5s;
  /* Chrome, Safari, Opera */
  
  animation-duration: 1.5s;
}

.bubble5 {
  width: 16px;
  height: 16px;
  left: 0px;
  top: 0px;
  -webkit-animation-delay: 1200ms;
  /* Chrome, Safari, Opera */
  
  animation-delay: 1200ms;
  -webkit-animation-duration: 1.2s;
  /* Chrome, Safari, Opera */
  
  animation-duration: 1.2s;
}

@keyframes bubbleUp3d {
  0% {
    -webkit-transform: translateY(0px) scale3d(0.5, 0.5, 0.5);
    opacity: 0
  }
  30% {
    -webkit-transform: translateY(0px) scale3d(0.8, 0.8, 0.8);
    opacity: 1
  }
  90% {
    -webkit-transform: translateY(-20px) scale3d(1, 1, 1);
    opacity: 1
  }
  99% {
    -webkit-transform: translateY(-30px) scale3d(2, 2, 2);
    opacity: 0
  }
  100% {
    -webkit-transform: translateY(0px) scale3d(1, 1, 1);
    opacity: 0
  }
}

@keyframes bubbleUp {
  0% {
    top: 0px;
    -webkit-transform: scale(0.5);
    opacity: 0
  }
  20% {
    top: 0px;
    -webkit-transform: scale(.7);
    opacity: 1
  }
  93% {
    top: -30px;
    -webkit-transform: scale(1);
    opacity: 1
  }
  99% {
    top: -36px;
    -webkit-transform: scale(2);
    opacity: 0
  }
  100% {
    top: 0px;
    -webkit-transform: scale(1);
    opacity: 0
  }
}
      </style>
      <div
        style="
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100%;
          min-height: 420px;
        "
      ><div class="container">
        <div class="spring">
          <span class="bubble bubble1"></span>
          <span class="bubble bubble2"></span>
          <span class="bubble bubble3"></span>
          <span class="bubble bubble4"></span>
          <span class="bubble bubble5"></span>
        </div>
        
      </div>
      </div>
    </div>
  </body>
</html>